.loaderPage{
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M828.24 407.74 a18.07 18.07 0 1 0 36.14 0 a18.07 18.07 0 1 0 -36.14 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M393.71 397.96L426.38 397.96L426.38 407.34L393.71 407.34z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M284.86 338.6L298.58 338.6L298.58 383.29L284.86 383.29z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1190.39 465.27a2.89 2.89 0 1 0 5.76-0.54z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1389.89 250.43L1395.24 250.43L1395.24 255.78L1389.89 255.78z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M7.52 150.47L57.49 150.47L57.49 200.44L7.52 200.44z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M705.26 308.91L760.74 308.91L760.74 364.39L705.26 364.39z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M905.04 308.55a23.78 23.78 0 1 0-36.56-30.42z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M402.68 100.44 a48.24 48.24 0 1 0 96.48 0 a48.24 48.24 0 1 0 -96.48 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M494.48 554.94 a13.87 13.87 0 1 0 27.74 0 a13.87 13.87 0 1 0 -27.74 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M314.31 342.42 a35.31 35.31 0 1 0 70.62 0 a35.31 35.31 0 1 0 -70.62 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M654.37 32.15L672.29 32.15L672.29 43.65L654.37 43.65z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M462.01 493.81a27.37 27.37 0 1 0 15.89 52.38z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1282.44 194a4.89 4.89 0 1 0-9.51-2.3z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M768.98 164.88L820.17 164.88L820.17 199.61L768.98 199.61z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M261.67 327.33L279.46 327.33L279.46 345.12L261.67 345.12z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M404.21 363.74L446.19 363.74L446.19 367.87L404.21 367.87z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M726.08 103.66L735.01 103.66L735.01 113.71L726.08 113.71z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1391.8 321.75 a29.33 29.33 0 1 0 58.66 0 a29.33 29.33 0 1 0 -58.66 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M109.82 55L140.2 55L140.2 78.99L109.82 78.99z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M484.5 104.57 a43 43 0 1 0 86 0 a43 43 0 1 0 -86 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M174.37 8.59 a0.45 0.45 0 1 0 0.9 0 a0.45 0.45 0 1 0 -0.9 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M802.86 308.7L810.38 308.7L810.38 333.66L802.86 333.66z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M811.08 18.8 a4.23 4.23 0 1 0 8.46 0 a4.23 4.23 0 1 0 -8.46 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M815.6 354.44L823.66 354.44L823.66 362.5L815.6 362.5z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1349.51 43.19L1357.89 43.19L1357.89 51.57L1349.51 51.57z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1024.65 34.24a46.22 46.22 0 1 0 1.32 92.43z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M409.52 186.98L439.58 186.98L439.58 217.04L409.52 217.04z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M778.07 108.48 a37.81 37.81 0 1 0 75.62 0 a37.81 37.81 0 1 0 -75.62 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M84.18 476.16a37 37 0 1 0 62.62 39.44z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1246.7 73.45L1267.67 73.45L1267.67 94.42L1246.7 94.42z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1054.26 71.11a54.24 54.24 0 1 0-58.11 91.61z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M966.48 425.33L1006.54 425.33L1006.54 465.39L966.48 465.39z' fill='%23d3b714'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.loaderPage .logo{
  position: absolute;
  justify-content: center;
  display: flex;
}


.loaderPage .logo h1{
  margin-left: 50px;
  color: #fff;
  font-size: 74px;
  letter-spacing: 40px;
}

.loaderPage .logo .icon
{
  margin-right: 40px;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 951px; 
    /* background: #22395c; */
  }
  
  .loader {
    width: 200px;
    height: 200px;
    position: relative;
    animation: rotateAnimation 1s linear infinite;
  }
  
  .loader::before {
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    border-radius: 50%;
    background: radial-gradient(circle at center, #8c8c8c, #dfc8ea);
    animation: scaleAnimation 1s infinite alternate;
  }
  
  .loader::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: radial-gradient(circle at center, #e6e6e6, #fff);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  @keyframes rotateAnimation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @keyframes scaleAnimation {
    0% { transform: scale(1); }
    100% { transform: scale(0.7); }
  }
  

