.admin .bookingPage {
    width: 1850px;
    margin-left: 240px;
  }
  
  .admin .bookingDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .admin .bookingCard {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    width: calc(25% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
  }
  
  .admin   .bookingCard h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
  }
  
  .admin   .bookingCard p {
    margin-bottom: 5px;
    font-size: 16px;
    color: #666;
  }
  