
.navbar {
  background-color:#22395c;
  width: 100%;
  height: 160px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar .logo {
  float: left;
  display: flex;
  letter-spacing: 10px;
  margin-top: 25px;
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  font-size: 54px;
}


.navbar .logoImg{
  width: 400px;
  height: 100px;
  object-fit: contain;
  mix-blend-mode:lighten;
  float: left;
}


.navbar .div1 {
  width: 1100px;
  height: 80px;
  background-color: #b9b5e2;
  float: right;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
  backdrop-filter: blur(10px); 
}

.navbar .div2 {
  margin-left: 10px;
  text-decoration: none;
  width: 150px;
  height: 80px;
  float: right;
  margin-right: 30px;
  display: flex;
  align-items: center;
  margin-right: 0px;
}

.navbar .div2 button {
  display: flex;
  align-items: center;
  font-size: 16px;
  justify-content: center;
  background-color: #29343d;
  color: #fff;
  width: 100%;
  height: 80%;
  border: none;
  margin: 10px;
  border-radius: 20px;
  transition: 0.3s ease all;
  cursor: pointer;
}

.navbar .div3 {
  width: 150px;
  height: 80px;
  float: right;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar .div4,
.div5 {
  width: 100px;
  height: 80px;
  float: right;
  display: flex;
  align-items: center;
  margin-right: 100px;
  color: #fff;
  font-size: 18px;
  margin-left: 150px;
}

.navbar .div4 .timestamp{
  margin-left: -100px;
}

.navbar .div3 button {
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  background-color: #29343d;
  color: #fff;
  margin: 10px;
  border-radius: 20px;
  width: 100%;
  height: 80%;
  border: none;
  cursor: pointer;
  transition: 0.3s ease all;
}

.navbar .div3 button:hover{
  background: #fff;
  color: #000 ;
}

.navbar .div2 button:hover{
  color: #000;
  background: #fff;
}


.navbar .div6 {
  margin-left: auto; 
  top: 60px;
  right: 0;
  width: 990px;
  height: 60px;
  display: flex;
}

.navbar .div6 button {
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: 80px; 
  background-color: transparent; 
  color: #fff; 
  transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.navbar .div6 button:hover {
  background-color: transparent; 
  transform: scale(1.2); 
  color: #6d98b3; 
}


.div6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #fff; 
}

.navButton {
  background-color: #555; 
  color: #fff; 
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}


.searchButton {
  background-color: #4caf50; 
  color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
}

.banner {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: slide 10s infinite alternate;
}

.slide-indicators-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-indicator {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.slide-indicator.active {
  background-color: red;
}

.image-text {
  position: absolute;
  top: 10px;
  left: 10%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.about {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-bottom: 80px;
  position: relative;
  background: #22395c;
}

.about h2 {
  text-align: left;
  margin-left: 100px;
  margin-top: 50px;
  color: #fff;
  font-size: 34px;
}

.about .main {
  display: flex;
}

.about .div1 {
  margin-top: 30px;
  position: relative;
  width: 900px;
  text-wrap: wrap;
  height: 300px;
  background: #b9b5e2;
}

.about .div1 p {
  justify-content: center;
  text-align: left;
  margin: 30px;
  align-items: center;
  margin-left: 40px;
  color: #22395c;
  font-weight: 400;
  font-size: 28px;
  line-height: 45px;
}
.about .div1::before {
  content: "";
  position: absolute;
  top: 0;
  right: -300px; 
  width: 300px; 
  height: 100%;
  background: linear-gradient(
    to right,
    #b9b5e2,
    #fff
  ); 
  border-radius: 0 100% 100% 0; 
}

.about .div2 {
  margin-top: 30px;
  margin-left: 500px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden; 
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; 
}

.about .div3 {
  margin-top: 100px;
  margin-left: 200px;
  width: 300px;
  background: #000;
  height: 300px;
  border-radius: 50%;
  position: relative;
}

.about .div4 {
  margin-left: 500px;
  margin-top: 100px;
  position: relative;
  width: 900px;
  height: 300px;
  background: #b9b5e2;
}

.about .div4 p {
  justify-content: center;
  margin: 30px;
  text-align: left;
  margin-left: 40px;
  color: #22395c;
  font-weight: 400;
  margin-top: 50px;
  font-size: 28px;
  line-height: 45px;
}

.about .div4::before {
  content: "";
  position: absolute;
  top: 0;
  left: -300px; 
  width: 300px; 
  height: 100%;
  background: linear-gradient(
    to right,
    #fff,
    #b9b5e2
  ); 
  border-radius: 100% 0 0 100%;
}


.about .main2 {
  display: flex;
}

.bmwmain {
  background: url("../../assets/bg1.jpg") no-repeat;
  background-size: cover; 
  padding: 20px;
  backdrop-filter: blur(5px); 

}



.bmwvect {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  border-radius: 20px;
  padding-bottom: 50px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.bmw {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; 
}

.bmw img {
  margin: auto;
  transition: transform 0.3s ease-in-out; 
}


.bmw img:hover {
  transform: scale(
    1.1
  ); 
}

.vectors {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-top: 50px; 
}

.vectors .card {
  width: 250px;
  height: 250px;
  color: #fff;
  justify-content: center;
  transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out,
  box-shadow 0.3s ease-in-out; 
  box-shadow: 0 0 20px rgba(82, 74, 74, 0.5);
  filter: none;
}


.vectors .card:hover {
  transform: scale(1.05) translate(10%, -10%);
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); 
}


.vectors .card img {
  width: 80px;
  margin-top: 30px;
  filter: invert();
}


.services {
  background: #fff;
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}
.services .div1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #fff;
  height: 50px;
  width: 200px;
  font-size: 12px;
  background: #000;
  color: #fff;
  margin: auto;
  margin-top: 30px;
}
.services .div2 {
  font-size: 42px;
}

.cards {
  width: auto;
  background: #b9b5e2;
  height: auto;
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
  overflow-x: auto; 
}

/* .cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding: 20px;
  margin: 0;
  margin-right: 50px;
  height: 450px;
  background: #22395c;
  color: #fff;
  border-radius: 30px;
}

.cards .card img {
  align-self: flex-start;
  width: 310px; 
  border-radius: 20px 20px 0 0;
  transition: transform 0.3s ease-in-out;
}
.cards .card img:hover {
  transform: scale(
    1.1
  ); 
}

.cards .card .content1 img {
  width: 80px; 
  height: auto; 
  float: left;
  margin-top: 10px;
}

.cards .card .content1 h2 {
  margin-top: 30px;
}
.cards .card .content1 p {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
}

.contacts {
  width: 100%;
  height: auto;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
  justify-content: center;
}
.contacts h1 {
  font-size: 34px;
}

.contacts .main {
  display: flex;
  margin: 50px;
  border-radius: 20px;
  gap: 10px;
}


.contacts .circle {
  width: 50%;
  height: auto;
  background: #4caf50;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.circle .subcircle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 30px;
  overflow: hidden;
  margin-left: 100px;
}
.sub1 {
  display: flex;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease-in-out; 
}

.sub1:hover {
  transform: scale(1.05); 
}

.sub1 ul {
  list-style-type: square;
  transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; 
  padding-left: 20px; 
}

.sub1 li {
  width: 300px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.5s ease;
  list-style-type: none; /* Hides the indicator */

}

.sub1 li:hover {
  transform: scale(1.1);

  background-color: #e0e0e0;
}

.subcircle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contacts .card {
  width: 50%;
  height: auto;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.contacts .card p {
  margin: 50px;
  line-height: 1.5;
  font-size: 24px;
  text-align: left;
  color: #333;
}

footer {
  width: 100%;
  height: 430px;
  background: #3c5665;
  display: flex;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2194%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient2195%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1002.506%2c99.233C1017.069%2c98.79%2c1026.121%2c84.979%2c1032.967%2c72.118C1039.283%2c60.253%2c1043.545%2c46.358%2c1036.857%2c34.699C1030.144%2c22.997%2c1015.986%2c18.481%2c1002.506%2c19.014C989.991%2c19.509%2c979.118%2c26.571%2c972.559%2c37.241C965.629%2c48.513%2c962.905%2c62.157%2c968.661%2c74.072C975.215%2c87.639%2c987.446%2c99.691%2c1002.506%2c99.233' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M849.5 128.96 a152.55 152.55 0 1 0 305.1 0 a152.55 152.55 0 1 0 -305.1 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1313.0776841044012 446.6146031547516L1344.2224702552035 300.0899044764193 1197.6977715768712 268.94511832561693 1166.552985426069 415.4698170039493z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M263.729%2c529.582C288.973%2c529.242%2c317.56%2c527.842%2c330.373%2c506.089C343.305%2c484.135%2c332.906%2c457.055%2c319.045%2c435.675C306.588%2c416.461%2c286.625%2c403.695%2c263.729%2c403.298C240.103%2c402.889%2c218.107%2c414.044%2c204.99%2c433.699C190.106%2c456.002%2c179.897%2c485.061%2c193.904%2c507.925C207.548%2c530.196%2c237.613%2c529.933%2c263.729%2c529.582' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M977.4 443.77 a102.39 102.39 0 1 0 204.78 0 a102.39 102.39 0 1 0 -204.78 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M574.1815776801516 561.2999258372258L636.628477975685 619.5326024453451 694.8611545838043 557.0857021498116 632.4142542882709 498.85302554169243z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M395.84 449.87 a145.34 145.34 0 1 0 290.68 0 a145.34 145.34 0 1 0 -290.68 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M425.168%2c101.658C448.954%2c100.88%2c471.917%2c92.112%2c484.899%2c72.165C499.189%2c50.208%2c504.159%2c22.306%2c491.872%2c-0.832C478.884%2c-25.289%2c452.802%2c-42.096%2c425.168%2c-40.312C399.783%2c-38.673%2c384.54%2c-15.151%2c371.882%2c6.914C359.31%2c28.828%2c345.88%2c54.286%2c358.265%2c76.306C370.795%2c98.585%2c399.621%2c102.493%2c425.168%2c101.658' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2194'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2195'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(44%2c 25%2c 94%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

footer .div1,
footer .div2,
footer .div3 {
  flex: 1; 
  padding: 20px;
  box-sizing: border-box; 
}

footer .div1 {
  text-align: left;
}

footer .div1 h1 {
  margin-left: 40px;
  color: #fff;
  letter-spacing: 10px;
}

footer .div1 p {
  color: #fff;
  margin-left: 40px;
  font-size: 18px;
}

footer .div1 h2 {
  color: #fff;
  font-size: 18px;
  text-align: left;
  margin-left: 40px;
  margin-top: 30px;
}

.social-icons {
  display: flex;
  flex-direction: column;
  float: left;
  margin-left: 50px;
}

.social-icons a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff; 
  transition: color 0.3s ease-in-out; 
}

.social-icons svg {
  font-size: 34px;
  margin: 1px 10px 10px 0;
}

.social-icons a:hover {
  color: #007bff; 
}

.social-icons svg:hover {
  color: #007bff; 
}



footer .div2 .admin-login-container {
  display: flex;
  margin-right: 80px;
  flex-direction: column;
  align-items: center;
}

footer .div2 .admin-login-container p {
  font-size: 18px;
  color: #fff;
}

.profile-picture {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #fff;
  border-radius: 50%;
}

.profile-picture svg {
  text-align: center;
  font-size: 100px; 
  color: #333; 
}

footer form {
  display: flex;
  flex-direction: column;
  color: #fff;
}

label {
  margin-top: 10px;
  text-align: left; 
}

input {
  margin-bottom: 15px;
  width: 300px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #fff;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  border-color: #0056b3;
}

footer button {
  padding: 10px;
  background-color: #dfc8ea;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease all;
  color:#22395c;
}

footer button:hover{
  background: #22395c;
  color: #fff;
}

footer .div3 h2 {
  color: #fff;
  font-size: 24px;
}

.feedback-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  align-items: center;
  width: 500px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feedback-form label {
  text-align: left;
  margin-bottom: 5px;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 28px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.feedback-form textarea {
  resize: vertical; 
}

.feedback-form button {
  margin-top: 5px;
  padding: 12px;
  background-color: #dfc8ea;
  color:#22395c ;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.feedback-form button:hover {
  background-color: #22395c;
  color: #fff;
}
